@import url(./../../../../assets/css/countButton.css);
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.description {
    font-size: 1rem;
}
/*===== Btn Product =====*/

.btn-product {
    position: relative;
    display: block;
    color: var(--white-color);
    font-size: 14px;
    text-decoration: none;
    margin: 15px auto;
    border: 2px solid var(--primary-color);
    padding: .5rem 2rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    text-align: center;
    background-color: var(--primary-color-80);
    width: 100%;
    border-radius: 1rem;
}

.btn-product::before {
    background: var(--dark-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn-product:hover {
    cursor: pointer;
}

.btn3::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before {
    height: 380%;
}

.btn4::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
    height: 380%;
}

/*===== Price =====*/

.content .price-unit {
    font-weight: 400;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    color: rgb(82, 82, 82);
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    color: var(--white-color);
    display: inline-block;
    margin-bottom: 1rem;
}

.price-whol {
    display: inline;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1rem;
}
/*==== Content Modal ====*/

.title-product {
    letter-spacing: -3px;
    width: 100%;
    color: var(--dark-color);
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
    line-height: 100%;
}

.cont-image {
    background: var(--primary-color-light);
    position: relative;
    z-index: 903 !important;
    height: 100%;
}

.content-product {
    margin: auto 0;
    padding: 2rem;
    background-color: var(--white-color);
    height: 100%;
    z-index: 905;
    color: var(--dark-color);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal_ .row .content-product img.background {
    position: absolute;
    width: 20%;
    opacity: .5;
    margin: 1rem 0 0 1rem;
    animation: float_background 8s linear infinite alternate;
    animation-delay: 2s;
}

.image-product {
    display: block;
    margin: 0 auto;
    padding: 4rem 0 0 0;
    width: 60%;
    animation: 4s float ease-in-out infinite;
    filter: drop-shadow(7px 12px 30px rgba(26, 29, 44, 0.4));
}

/*===== Opciones de imagenes Modal =====*/

.more-images {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.option-images {
    display: block;
    margin: auto 0;
    background-color: var(--white-color);
    border-radius: .2rem;
    padding: .2rem;
}

.option-images:hover {
    transform: scale(1.05);
    transition: ease-in-out .2s all;
    cursor: pointer;
}

.option-images img {
    width: 100%;
    display: block;
    position: relative;
}

.name {
    display: block;
    position: absolute;
    margin-left: 60%;
    padding: 2rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Titan One', cursive !important;
}

/*===== Modal =====*/
::ng-deep.mat-dialog-container {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 2rem !important;
    height: auto;
    max-height: 45.5rem !important;
}

.modal_ {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    box-sizing: border-box;
    z-index: 1080 !important;
}

@media only screen and (max-width:400px) {
    .more-images .option-images {
        width: 2.3rem;
        margin: .5rem 0;
    }

    .modal_ .cont-image {
        height: 12rem;
    }

    .cont-image .name {
        margin-left: 50%;
        padding: 1rem;
        font-size: 1.2rem;
    }

    .content-product {
        padding: 1rem;
    }

    .title-product {
        padding: .5rem 0 .3rem 0;
        font-size: 2.5rem;
    }
}

@media (max-width:500px) {
    .modal_ .more-images {
        min-width: 28%;
        height: 100%;
        max-width: max-content;
        padding: .2rem .6rem;
    }

    .option-images {
        margin: 10% 0;
        width: 3rem;
    }

    .cont-image .image-product {
        width: 75%;
        padding: 3rem 0 0 2.5rem;
    }

}

@media only screen and (max-width:767px) {
    ::ng-deep.mat-dialog-container {
        border-radius: .5rem !important;
    }

    .name {
        margin-left: 60%;
        padding-top: .8rem;
        font-size: 1.2rem;
    }

    .content-product {
        overflow: visible;
    }

    .modal_ .more-images {
        min-width: 3rem;
        height: 100%;
        max-width: max-content;
        padding: .2rem .6rem;
        overflow-y: scroll;
    }

    .option-images {
        margin: 10% 0;
        width: 3.2rem;
    }

    .image-product {
        width: 15rem;
        padding: 3rem 0 0 2.5rem;
    }

    .cont-image {
        height: 17rem;
    }

}

@media only screen and (min-width:768px) {
    ::ng-deep.mat-dialog-container {
        max-height: 512px !important;
    }

    .modal_ .row {
        height: 100%;
    }

    .name {
        margin-left: 45%;
    }

    .more-images {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .option-images {
        width: 20%;
        height: 90%;
        margin: 0 .5rem;
    }

    .cont-image {
        height: 100%;
    }

    .image-product {
        width: 17rem;
        padding: 5rem 0 0 1rem;
    }
}

@media only screen and (min-width:1100px) {
    .image-product {
        width: 20rem;
        padding: 5rem 0 0 2.5rem;
    }
}

@media only screen and (min-width:1600px) {
    .cont-image .name {
        width: 22rem;
        margin-left: 70%;
    }
}