@import url(./../../../../assets/css/cardProducts.css);

/*===== CARD =====*/
.container_ {
    height: 80%;
    width: 100%;
    margin: 3rem 0;
}

.card_ {
    background: var(--primary-color-light);
    border-radius: 1rem;
    color: var(--white-color);
}

.card-title {
    font-size: var(--h1-font-size);
    color: var(--dark-color-lighten);
    margin-bottom: .5rem;
}

.card_:hover .see-more {
    fill: var(--white-color);
}

.see-more:hover {
    background-color: var(--primary-color);
}

@media (max-width:400px) {
    .card_{
        height: 350px;
    }
    .container_ {
        min-width: 90%;
        margin: 4rem auto;
    }
    .card-img {
        min-width: 60%;
    }
    .card_ .card-data {
        transform: translateY(10rem);
    }
    .card_:hover .card-data {
        transform: translateY(2.5rem);
    }
    .card_:hover .content-see-more .see-more {
        transform: translate(11rem, -13rem);
    }
}

@media (max-width:500px) {
    .container_ {
        min-width: 80%;
        margin: 4rem auto;
    }

    .card-data {
        transform: translateY(13.2rem);
    }

    .card-img {
        min-width: 50%;
    }

    .card_:hover .card-img {
        transform: translate(-1.5rem, -5rem) rotate(-20deg);
    }

    .card_:hover .see-more {
        transform: translate(13rem, -14rem);
    }

    .card-button {
        padding: 0 1rem;
    }
}

@media (min-width:500px) {
    .container_ {
        margin: 4rem auto;
    }

    .card-img {
        width: 40%;
    }
}

@media (max-width:768px) {
    .container_ {
        width: 60%;
    }

    .card_ .card-img {
        width: 35%;
    }
}

@media (max-width:992px) {
    .container_ {
        width: 65%;
    }
    .card-img {
        width: 25%;
    }

    .card-title {
        margin-top: 3rem;
    }
}

@media (min-width:992px) {
    .container_ {
        width: 75%;
    }
    .card-img {
        width: 16%;
    }
}
@media (min-width:1300px) {
    .container_ {
        width: 65%;
    }
}