.content-list {
    /* height: 80vh;
    overflow-y: scroll; */
    border: #f0f0f0 solid 1px;
}

/*List products*/
.list {
    padding: 1rem 3rem 3rem 3rem;
    background-color: var(--white-color);
    margin-top: 2rem;
}

.product {
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 1.5rem auto;
}

.product:hover {
    transform: scale(1.02);
    transition: .2s all ease-in;
}

.name-product {
    font-size: 1.2rem;
    width: auto;
    height: auto;
}

.cant-product {
    background-color: var(--primary-color);
    border-radius: 100rem;
    padding: .1rem .5rem;
    color: var(--white-color);
    font-size: .8rem;
    width: auto;
}

.description-product {
    width: 70%;
}

.img-product {
    /* margin-left: -3rem; */
    height: 100%;
    padding-right: 1rem;
}

.close:hover {
    transform: scale(1.04);
    cursor: pointer;
}

/*Titulo*/
.title-list-products {
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

/*Total products*/
.total {
    background-color: var(--primary-color-background);
    padding: 2rem 1.3rem 1rem 1.3rem;
    text-align: right;
    font-size: 1.1rem;
}

/*Responsive*/
@media (max-width:400px) {
    .product .content-text {
        width: 100%;
    }
    .product {
        display: inline-block;
    }

    .product .img-product {
        width: 80%;
        margin: 0 10%;
        display: inline-block;
    }

    .product .name-product {
        display: inline-block;
        width: 100%;
        margin: .7rem 0;
    }

    .product .cant-product, .product .price-product {
        width: auto;
        padding: 0 1rem;
        display: inline-block;
        margin: 0;
    }
}

@media (max-width:500px) {
    .product .img-product {
        width: 50%;
        height: auto;
        position: relative;
        margin-top: 0;
    }
    .cant-product{
        width: 20%;
        margin: auto;
    }
    .content-list .product {
        width: 95%;
    }
}
@media (max-width:700px) {
    .list {
        padding: .5rem 1rem 1rem;
        border-radius: .5rem .5rem 0 0;
    }

    .content-list {
        padding: .5rem .3rem;
    }

    .title-list-products {
        text-align: center;
    }

    .product {
        margin: 1rem auto;
        height: auto;
        width: 80%;
        text-align: center;
        max-width: 20rem;
    }

    .content-text {
        width: 50%;
        display: inline-block;
    }

    .img-product {
        width: 30%;
        height: auto;
        position: relative;
        margin-top: 0;
        margin: auto;
    }
    .cant-product{
        width: auto;
        margin: 0 .5rem;
        display: inline-block;
    }
    .price-product{
        width: 50%;
        margin: auto;
        display: inline-block;
    }
    .close {
        position: absolute;
        top: -.5rem;
        right: -.5rem;
        width: 1.1rem;
    }
}
@media (min-width:700px) {
    .list {
        padding: .5rem 1rem 1rem;
        border-radius: .5rem .5rem 0 0;
    }

    .content-list {
        padding: .5rem .3rem;
    }

    .title-list-products {
        text-align: center;
    }

    .product {
        margin: 1rem auto;
        height: auto;
        width: 80%;
        text-align: center;
        max-width: 20rem;
    }

    .content-text {
        width: 50%;
        display: inline-block;
    }

    .img-product {
        width: 30%;
        height: auto;
        position: relative;
        margin-top: 0;
        margin: auto;
    }
    .cant-product{
        width: auto;
        margin: 0 .5rem;
        display: inline-block;
    }
    .price-product{
        width: 50%;
        margin: auto;
        display: inline-block;
    }
    .close {
        position: absolute;
        top: -.5rem;
        right: -.5rem;
        width: 1.1rem;
    }
}
