<div class="container-fluid list">
    <div class="row">
        <p class="title-list-products">Lista de productos</p>
        <div class="col-12 content-list">
            <div class="product" *ngFor="let product of listProducts; let i=index">
                <img class="img-product" [src]="product.fields.image[0].url" [alt]="product.fields.name" srcset="">
                <div class="content-text">
                    <p class="name-product">{{ product.fields.name }}</p>
                    <p class="price-product">{{ product.fields.pvp_unitary }}</p>
                    <p class="cant-product">x{{ product.fields.amount }}</p>
                </div>
                <img (click)="alertDelete()" class="close" src="./../../../../assets/img/message-square-x-solid-24.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid total">
    <div class="row">
        <div class=" col-12">
            <p>{{ totalPrice }}</p>
        </div>
    </div>
</div>
