* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font) !important;
}

.product {
  float: left;
  width: 30%;
  margin: 0 5% 20% 10%;
}

.content-list {
  background-color: var(--primary-color-background);
  /* overflow: hidden; */
}

.information {
  background-color: var(--white-color);
}
/*Loader*/

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.loader .skeleton{
  margin: 0 5rem;
}
.skeleton{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*List products*/

#products-section{
  transition: all 1s;
}
.title-list-products {
  text-align: left;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 6rem 0;
  margin-left: 10%;
  line-height: 3rem;
}

/*Carrito activado*/
/* .shop{
  transition: all 1s ease-in-out;
  right: -100%;
  overflow: hidden;
} */
.car-active {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 910;
  margin-top: 62px;
  transition: all 1s;
  /* right: 100%; */
  transition: all 1s ease-in-out;
}
.shopping {
  transition: all 1s ease-in-out;
  display: inline;
  position: sticky;
  top: 0px;
  z-index: 910;
  right: 0;
}

.fixed{
  position: fixed;
}
/*Mini shopping car*/
.mini-shopping-car {
  background-color: var(--primary-color);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  right: .8rem;
  top: .8rem;
  position: fixed;
  z-index: 1000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-shopping-car:hover {
  transform: scale(1.1);
  transition: all .1s ease-in;
  box-shadow: 0px 0px 15px var(--primary-color);
  cursor: pointer;
}

.mini-shopping-car img {
  width: 50%;
  display: block;
  margin: auto;
  margin-left: 11px;
}

/*Animation mini car*/
.animation-mini-car {
  animation: animar .6s linear;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px var(--primary-color);
}

@keyframes animar {
  0% {
    -webkit-transform: translate(0px, 0px);
  }

  10% {
    -webkit-transform: translate(5px, 0px);
  }

  20% {
    -webkit-transform: translate(0px, 0px);
  }

  30% {
    -webkit-transform: translate(5px, 0px);
  }

  40% {
    -webkit-transform: translate(0px, 0px);
  }

  50% {
    -webkit-transform: translate(5px, 0px);
  }

  60% {
    -webkit-transform: translate(0px, 0px);
  }

  70% {
    -webkit-transform: translate(5px, 0px);
  }

  80% {
    -webkit-transform: translate(0px, 0px);
  }

  90% {
    -webkit-transform: translate(5px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@media only screen and (max-width:768px) {
  .car-active {
    top: -40px;
  }

  .mini-shopping-car {
    width: 2rem;
    height: 2rem;
    right: 5rem;
    top: .4rem;
  }
}

@media (max-width:992px) {
  .title-list-products {
    width: 80%;
    text-align: center;
    padding: 5.5rem 0 2rem;
  }

  .product {
    float: left;
    width: 80%;
    margin: 0 auto 5rem;
    padding: 0 2rem;
  }

}