<div class="container-fluid content-list">
  <article class="row">
    <a class="mini-shopping-car" href="/list#shopping-car" *ngIf="hideShoppingCar">
      <img src="./../../../../assets/img/carrito-de-compras.svg" alt="" srcset="">
    </a>
    <section class="col-12">
      <app-product-to-week (cantProductGlobal)="newCount($event)"></app-product-to-week>
    </section>
    <section class="col-12 information">
      <app-information-section></app-information-section>
    </section>
    <section class="col-12 col-md-8 col-lg-9">
      <h4 class="title-list-products">Nuestra lista de productos</h4>
      <!--  data-aos="fade-right" data-aos-duration="1500" data-aos-easing="linear" // h4 -->
      <div *ngIf="categories && products" class="row">
        <app-product-card *ngFor="let product of products; let i=index" [product]="product"
          [category]="getCategory(product)" class="col-10 col-md-12 mx-auto col-lg-6">
          <!-- class="product col-12" -->
        </app-product-card>
      </div>
    </section>
    <section class="col-12 col-md-4 col-lg-3 car" id="shopping-car">
      <app-shopping-cart [listProducts]="products"></app-shopping-cart>
    </section>
  </article>
</div>
