*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    height: auto;
    width: 100%;
    padding: .5rem 0;
    position: fixed;
    top: 0;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    z-index: 1000 !important;
}
.menu{
    padding: 1rem 2rem;
}
/*Icon car*/

.icon-shopping {
    padding: .3rem;
    margin-right: 2rem;
}
.icon-shopping svg{
    fill: var(--primary-color);
}
.icon-shopping:hover {
  transform: scale(1.08);
  transition: .1s ease-in-out;
  cursor: pointer;
}
/*Logo*/
.enlace{
    position: absolute;
    padding: 1rem 0 1rem 2rem;
}
.enlace img{
    /* width: 10rem; */
    height: 4rem;
}
/*Links*/
.navbar .menu{
    margin: auto;
}
.navbar .menu .item{
    display: inline-block;
    margin: 0 1rem;
    z-index: 1000;
}
.navbar .menu .item > a{
    color: #092540;
    font-size: 1rem;
}
.navbar .menu .item > a:hover{
    color: var(--primary-color-light);
    cursor: pointer;
}
/*Botón nav*/
.checkbtn{
    margin-left: auto;
    border: var(--primary-color-light) solid 2px;
    border-radius: .2rem;
    padding: 0;
    display: none;
    margin-right: 2rem;
    cursor: pointer;
}
.checkbtn:hover{
    transform: scale(1.05);
}
.checkbtn svg{
    fill: var(--primary-color);
}
#check{
    display: none;
}
/*dropdown*/
.dropdown-menu .menu{
    width: 100%;
}
/* .show{
    top: 34%;
    z-index: 1000;
    width: 20%;
} */
.change {
    height: 3rem;
    border-radius: 1rem;
    border: solid 5px white;
}

.uno {
    background-color: #3f559e;
}

.dos {
    background-color: #c71c81;
}

.tres {
    background-color: #3fcc5b;
}

.cuatro {
    background-color: #cf8f40;
}
.cinco {
    background-color: #c92f2f;
}

.change:hover{
    transform: scale(1.05);
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .menu{
        padding: 0;
    }
    .checkbtn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: auto;
        background-color: var(--primary-color-light);
        top: 44px;
        transition: all .5s;
        left: -100%;
        text-align: center;
    }
    .navbar .menu .item {
        display: block;
        margin: 0;
        padding: 1rem 0;
    }
    .navbar .menu .item:hover {
        background-color: #00000023;
    }
    .navbar .menu .item > a {
        color: #fff;
        width: 100vw;
    }
    .navbar .menu .item > a:hover{
        color: var(--white-color);
    }
    ::ng-deep .mat-menu-panel{
        z-index: 2040 !important;
    }
    #check:checked ~ .menu {
        left: 0;
    }
    .show{
        left: calc(50% - 79px);
    }
    .enlace img{
        height: 2.5rem;
    }
}