<nav class="navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg>
    </label>
    <a href="" class="enlace">
        <img class="logo" src="./../../../../assets/img/logo-viintas.png" alt="Viintas" >
    </a>
    <ul class="menu">
        <li class="item"><a class="content-item" routerLink="/list" class="active-nav">Inicio</a></li>
        <li class="item"><a class="content-item" (click)="scrollTo('information-section')">Acerca de nosotros</a></li>
        <li class="item"><a class="content-item" (click)="scrollTo('products-section')">Productos</a></li>
        <li class="nav-item item dropdown">
            <a class="nav-link dropdown-toggle content-item" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Elige un tema
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="uno change dropdown-item"
                        onclick="changeColor('#3f559e','#132c7e','#6576ac','#d6d9e2','rgba(63, 85, 158, 0.8)')"></a>
                </li>
                <li>
                    <a class="dos change dropdown-item"
                        onclick="changeColor('#c71c81','#a30160','#d463a5','#e2cfda','rgba(199, 28, 128, 0.8)')"></a>
                </li>
                <li>
                    <a class="tres change dropdown-item"
                        onclick="changeColor('#3fcc5b','#07a326','#84d494','#cae4cf','rgba(132, 212, 148, 0.8)')"></a>
                </li>
                <li>
                    <a class="cuatro change dropdown-item"
                        onclick="changeColor('#cf8f40','#b86909','#caa980','#e6d1b8','rgba(207, 143, 64, 0.8)')"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
