/*General*/
.navbar {
    padding: .3rem 5rem;
    box-shadow: 2px 2px 5px rgba(56, 56, 56, 0.4);
    background-color: var(--white-color);
}

.navbar-nav {
    margin: 0 auto;
}
/*Icon Shopping*/
.icon-shopping {

}
.icon-shopping svg{
    fill: var(--primary-color);
}

.collapse {
    /* border: 3px solid var(--primary-color); */
    /* margin-left: 1rem;
    padding: .1rem; */
}

.collapse ul li a {
    color: #092540;
    font-weight: 400;
    font-size: 1rem;
}
.collapse ul li a:hover {
    color: var(--primary-color-light);
    font-weight: 400;
    font-size: 1rem;
}

.dropdown-menu {
    margin-top: 1.03rem;
    border-radius: 0rem;
}

.dropdown ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
}

.nav-link {
    padding-bottom: 0;
}

.navbar-nav {
    padding-bottom: .3rem;
}

.nav-link {
    padding-bottom: .2rem;
}

/*Change color*/
/* ::ng-deep.mat-slide-toggle-bar{
    background-color: #7580a3 ;
}
::ng-deep.mat-slide-toggle-thumb{
    background-color: #3f559e ;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: #7580a3;
} */

.uno,
.dos,
.tres,
.cuatro {
    /* padding: 3rem; */
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    border: solid 5px white;
}

.uno {
    background-color: #3f559e;
}

.dos {
    background-color: #c71c81;
}

.tres {
    background-color: #3fcc5b;
}

.cuatro {
    background-color: #cf8f40;
}

.uno:hover,
.dos:hover,
.tres:hover,
.cuatro:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*Scroll Navbar*/
.scroll-nav {
    box-shadow: var(--box-shadow);
    background-color: var(--white-color);
    transition: all ease-out .5s;
}

.scroll-nav-none {
    box-shadow: none;
    background-color: none;
}

/*Responsive*/
@media (max-width:500px) {
    .navbar {
        padding: .3rem 1rem;
    }

}
@media (min-width:768px) {

}
