@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('./../css/countButton.css');
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--normal-font-size);
}

a {
    text-decoration: none;
}

/*===== CARD =====*/

.card_ {
    width: 100%;
    max-width: 100%;
    height: 450px;
    padding: 0rem 2rem 2rem;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.card-img {
    position: absolute;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, .4));
}

.card-data {
    transform: translateY(13.2rem);
    text-align: center;
    position: absolute;
}

.content-see-more {
    width: max-content;
}

.card-preci {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.see-more {
    display: block;
    transition: .2s;
    border-radius: 50%;
    border: none;
    padding: .3rem;
    opacity: 0;
}

.card-button {
    display: block;
    width: max-content;
    padding: .7rem .4rem;
    border-radius: .5rem;
    font-weight: 600;
    transition: .2s;
    opacity: 0;
}

.card-img,
.card-data,
.card-title,
.card-preci {
    transition: .5s;
}
.card-title:hover, .card-img:hover{
    cursor: pointer;
}
/* Hover card */

.card_:hover .card-img {
    transform: translate(-1.5rem, -7.5rem) rotate(-20deg);
}

.card_:hover .card-data {
    transform: translateY(4.8rem);
}

.card_:hover .card-title {
    transform: translateY(4rem);
    margin-bottom: 0;
}

.card_:hover .card-preci {
    transform: translateY(4.5rem);
}

.card_:hover .card-button {
    transform: translateY(2rem);
    transition-delay: .2s;
    opacity: 1;
}

.card_:hover .see-more {
    transition-delay: .1s;
    opacity: 1;
    transform: translate(13rem, -15.5rem);
}

.see-more:hover {
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(2%);
    }

    50% {
        transform: translateY(-4%);
    }

    100% {
        transform: translateY(2%);
    }
}
