
/* ===== Botónes generales ===== */
.button {
    background-color: var(--white-color);
    border-radius: 100%;
    margin: 0 2%;
    border: none;
    transition: all .1s ease-in;
    padding: .3rem;
    border: rgba(172, 172, 172, 0.5) 1px solid;
}

.button svg {
    padding: .3rem;
    width: 1.4rem;
    height: 1.4rem;
}

.button:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    transition: all ease-in .2s;
}

.icon-fill {
    fill: var(--primary-color);
}
/*===== Contador =====*/

.count {
    width: 50%;
    border: none;
    margin: 0 .5rem;
    border-radius: 5rem;
    padding: .3rem 0;
}

.count input {
    width: 50%;
    border-radius: 5rem;
    border: none;
    padding: .4rem 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0 auto;
    -moz-appearance: textfield;
    border: rgba(172, 172, 172, 0.5) 1px solid;
}

.count input::-webkit-inner-spin-button,
.count input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.count input:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    transition: all ease-in .2s;
}

.count input:focus {
    border: none;
    outline: 0;
    transform: scale(1.1);
    transition: all .1s ease-in;
    box-shadow: var(--box-shadow);
    border: rgba(172, 172, 172, 0.5) 1px solid;
}

.count-button {
    padding: .7rem .4rem;
    border-radius: .5rem;
    font-weight: 600;
    transition: .2s;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-button .count input {
    width: 100%;
}