<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button *ngFor="let indicator of card; let i=index" type="button" data-bs-target="#carouselExampleDark"
            [attr.data-bs-slide-to]="i" [class]="'slider ' + ( i == 0 ? 'active':'')"
            [attr.aria-current]="(i == 0 ? true : '')" [attr.aria-label]="'Slide ' + (i+1)"></button>
    </div>
    <div class="carousel-inner">
        <div *ngFor="let slide of card; let i=index" [class]="'carousel-item ' + (i == 0 ? 'active' : '')"
            [attr.data-bs-interval]="slide.time">
            <div [class]="'content-item-image_' + slide.type + ' d-flex'">
                <img [src]="slide.image" width="337" height="337" [alt]="slide.nameImage"> 
            </div>
            <div [class]="'content-item-text_' + slide.type">
                <h4 [class]="'subtitle_' + slide.type"> {{ slide.subTitle }} </h4>
                <h2 [class]="'title_' + slide.type"> {{ slide.title }} </h2>
                <p [class]="'paragraph_' + slide.type"> {{ slide.paragraph }} </p>
                <a [href]="slide.hrefBottom" [class]="'button_' + slide.type"> {{ slide.textBottom }} </a>
            </div>
            <div class="content-item-background" style="overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;display:block;">
                    <path [attr.d]="slide.path" class="path" [style]="'stroke: none; '"></path>
                </svg>
            </div>
            <div *ngIf="slide.hideCarouselControl">
                <button class="carousel-control-prev carousel-control" type="button"
                    data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next carousel-control" type="button"
                    data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
