* {
    margin: 0;
    padding: 0;
}

/*General content*/
.shopping-card {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: sticky;
    top: 0;
}

.path-wave {
    fill: var(--primary-color-light);
}

.wave {
    overflow: hidden;
    position: absolute;
    width: 110%;
    height: 100vh;
    margin-left: -10%;
}

/*Container Section*/

.shopping-products {
    height: 69vh;
    margin: 0 auto 0;
    border-radius: 1.5rem 0 0 0;
    width: 90%;
    overflow-y: scroll;
    background-color: var(--primary-color-background);
}

.shopping-products .card-product {
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    width: 90%;
}

.shopping-products .card-product:hover {
    transform: scale(1.01);
    transition: all ease-in .1s;
    cursor: pointer;
}

.shopping-products .content-card-product {
    padding-left: 1rem;
}

.shopping-products .text-card-product {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin-bottom: 2%;
}

.shopping-products .price-card-product {
    font-size: 1.2rem;
}
.icon-info{
    font-size: 1.5rem;
    float: right;
    color: var(--primary-color-dark);
}
::ng-deep .mat-tooltip{
    font-size: 1rem ;
    background-color: var(--primary-color) ;
    box-shadow: 2px 2px 2px rgb(156, 156, 156);
}
.animate__rubberBand{
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
/*Close Button*/
.img-close {
    background-color: rgb(148, 112, 112);
    width: 100%;
}

.img-close img {
    display: block;
    margin-left: 97.5%;
    margin-top: -5%;
    width: 1rem;
}

.img-close img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    transition: .3s ease-in-out all;
}

/*Image Product*/
.shopping-products .product-image {
    width: 6rem;
    display: block;
    margin: auto;
}

/*Content*/
.shopping-container {
    z-index: 111;
    padding-top:70px ;
}

/*=== Scroll bar ===*/
.shopping-products::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.shopping-products::-webkit-scrollbar-track {
    background: rgb(170, 170, 170);
}

/* Handle */
.shopping-products::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--primary-color);
}

/* Handle on hover */
.shopping-products::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-dark);
}

/*Contador*/
.count-content {
    margin-top: 5%;
}

.count {
    width: 100%;
    border: none;
    border-radius: 5rem;
}

.count input {
    width: 35%;
    border-radius: 5rem;
    border: none;
    padding: .4rem 0;
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0 auto;
    -moz-appearance: textfield;
    border: rgba(172, 172, 172, 0.5) 1px solid;
}

.count input:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all ease-in .2s;
}

.count input:focus {
    border: none;
    outline: 0;
    transform: scale(1.1);
    transition: all .1s ease-in;
    box-shadow: 2px 2px 5px grey;
}

.count input::-webkit-inner-spin-button,
.count input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Botónes generales*/
.button {
    background-color: var(--white-color);
    border-radius: 100%;
    margin: 0 2%;
    border: none;
    transition: all .1s ease-in;
    padding: .3rem;
    border: rgba(172, 172, 172, 0.5) 1px solid;
}

.button svg {
    padding: .2rem;
    width: 1rem;
    height: 1rem;
}

.icon-fill {
    fill: var(--primary-color);
}

.button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all ease-in .2s;
}

/*Price Section*/
.shopping-price {
    background-color: rgb(199, 199, 199);
    bottom: 0;
    border-radius: 0 0 0 1.5rem;
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
    padding: 1.3rem;
    clear: bloth;
}

.price-total {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(58, 58, 58);
}

.button-buy button {
    margin-top: 2%;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    padding: .5rem 2rem;
    border: none;
    border-radius: .5rem 0 0 .5rem;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.button-buy button:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
}

@media only screen and (max-width:768px) {
    .img-close img {
        margin-top: 0;
    }
    .wave{
        top: 0;
        background-color: var(--primary-color-light);
        margin: 0;
    }
    .path-wave {
        display: none;
    }
    .shopping-products{
        height: 65vh;
    }
    .shopping-price, .shopping-products{
        max-width: 25rem;
        margin: auto;
    }
}
@media only screen and (max-width:885px) and (min-width:768px) {
    .shopping-products, .shopping-price {
        margin: 0;
        width: 100%;
    }

    .button, .input_card {
        transform: scale(.8);
    }

    .button {
        margin: 0 ;
    }
}
@media only screen and (max-width:1179px) and (min-width:992px)  {
    .shopping-products, .shopping-price {
        margin: 0;
        width: 100%;
    }

    .button, .input_card {
        transform: scale(.8);
    }

    .button {
        margin: 0 ;
    }
}