<div class="container-fluid shopping-card">
    <div class="wave">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path class="path-wave"
                d="M22.29,-6.39 C-25.11,74.52 55.58,89.31 17.77,151.48 L500.00,150.00 L500.00,0.00 Z"
                style="stroke: none;"></path>
        </svg>
    </div>
    <div class="row">
        <div class="col-12 shopping-container">
            <div class="shopping-products">
                <div class="row">
                    <div *ngFor="let product of listProductsShopping; let i = index" class="col-10 card-product">
                        <span class="img-close">
                            <img width="16" height="16" (click)="deleteProduct(i)" [alt]=""
                                src="./../../../../assets/img/red-x.webp" alt="">
                        </span>
                        <!-- <span class="">
                            <mat-icon>assignment_late</mat-icon>
                        </span> -->
                        <div class="row">
                            <div class="col-5">
                                <img width="96" height="96" [alt]="product.fields.name" class="product-image"
                                    [src]="product.fields.image[0].url" alt="">
                            </div>
                            <div class="col-7 content-card-product">
                                <p class="text-card-product">{{ product.fields.name }}</p>
                                <mat-icon *ngIf="product.fields.amount > 5" [matTooltip]="'Agregaste más de 5 productos, antes el precio de este articulo era $' + product.fields.pvp_unitary"
                                    class="icon-info animate__animated animate__rubberBand">assignment_late</mat-icon>
                                <p class="price-card-product">{{ actualPrice(product) | PriceNumberFormat}}</p>
                                <hr>
                                <div class="count-content">
                                    <button class="button" (click)="subtractAmount(i)">
                                        <svg viewBox="0 0 25 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="icon-fill" y="6" width="6" height="25"
                                                transform="rotate(-90 0 6)" />
                                        </svg>
                                    </button>
                                    <span class="count">
                                        <input type="number" class="input_card" name="amount"
                                            (blur)="changeProductAmount(product)" [(ngModel)]="product.fields.amount">
                                    </span>
                                    <button class="button" (click)="addAmount(i)">
                                        <svg viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect class="icon-fill" x="9" width="6" height="25" fill="#c71c81" />
                                            <rect class="icon-fill" y="16" width="6" height="25"
                                                transform="rotate(-90 0 16)" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopping-price">
                <div class="row">
                    <div class="col-7 price-total">
                        <p>SubTotal:</p>
                    </div>
                    <div class="col-3 price-total">
                        <span>{{totalPrice | PriceNumberFormat}}</span>
                    </div>
                    <div class="col-12 button-buy">
                        <button (click)="sendListProducts()" routerLink="/pago">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>