@import url(./../../../../assets/css/cardProducts.css);

.title-content {
    padding: 7rem 0 0 5rem;
    font-size: 7rem;
    font-weight: 500;
    line-height: 7rem;
    color: var(--primary-color-dark);
}

.subtitle-content {
    padding: 2rem 0 2rem 5rem;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2rem;
}

.product-week {
    background-color: var(--primary-color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    max-width: 100vw;
}

/*Price Discount*/

.price-discount {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .2rem 1rem;
    position: absolute;
    margin-top: 2rem;
    margin-left: -1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    transform: scale(1.5);
}

/*Countdown*/

.countdown {
    color: var(--white-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin: 0;
    padding: 0;
    border-radius: .5rem .5rem 0 0;
}

.countdown div div element.style {
    padding: .5rem .2rem;
    font-size: 1rem;
    color: var(--white-color);
    background: var(--primary-color-light);
    width: 25%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

/*====== COUNT WEEK ======*/

.count-week {
    color: var(--white-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin: 0;
    padding: 0;
    border-radius: .5rem .5rem 0 0;
}

.week-nn {
    padding: .5rem .2rem;
    font-size: 1rem;
    color: var(--white-color);
    background: var(--primary-color-light);
    width: 33.33%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.week-nn:first-child {
    border-radius: .5rem 0 0 0;
}

.week-nn:nth-child(3) {
    border-radius: 0 .5rem 0 0;
}

.font-weight-800 {
    font-weight: 800;
}

/*===== CARD =====*/
.container_ {
    height: 100%;
    width: 70%;
    margin: 0 0 0 5rem;
    display: block;
}

.card_ {
    background-color: var(--white-color);
    border-radius: 0 0 1rem 1rem;
    color: var(--dark-color);
    border: solid rgba(148, 148, 148, 0.5) 1px;
}

.card-title {
    font-size: 2rem;
    color: var(--dark-color);
    margin: 1rem 0;
    font-weight: 400;
}

.card-preci {
    color: var(--primary-color);
}

.card-preci-descount {
    margin-right: 1rem;
    font-size: 1.3rem;
    text-decoration: line-through;
    font-weight: 500;
    color: var(--dark-color);
}

.see-more:hover {
    background-color: var(--white-color);
    border: solid 1px var(--primary-color);
}

.see-more-path {
    fill: var(--primary-color);
}

@media (max-width:500px) {
    .title-content {
        padding: 5rem 3rem;
        font-size: 4rem;
    }

    .text-product-week {
        text-align: center;
    }

    .product-week {
        padding: 5rem 0;
    }

    .container_ {
        margin: 0 auto;
    }

    .card-title {
        margin-top: 4rem;
    }

    .card-img {
        width: 200px;
    }

    .card_:hover .see-more {
        transform: translate(12rem, -17rem);
    }

    .card_:hover .card-img {
        transform: translate(-1.5rem, -5.5rem) rotate(-20deg);
    }
}

@media (max-width:992px) {
    .title-content {
        padding: 5rem 3rem;
        font-size: 5rem;
        text-align: center;
    }

    .container_ {
        margin: 0 auto;
    }
}