/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
html, body { height: 100%; }

body { margin: 0;padding: 0; }
/*===== VARIABLES CSS =====*/
:root {
    /*===== Colores =====*/
    --primary-color:#3f559e;
    --primary-color-dark:#132c7e;
    --primary-color-light:#6576ac;
    --primary-color-background:#d6d9e2;
    --primary-color-80:rgba(63, 85, 158, 0.8);

    --white-color: #ffffff;
    --dark-color: #000000;
    --dark-color-lighten: #F2F5FF;
    --grey-color-ligth:rgb(238, 238, 238);
    /*==== Others Components  ====*/
    --box-shadow:2px 2px 3px rgba(92, 92, 92, 0.4);

    /*===== Fuente y tipografia =====*/
    --body-font: 'Yanone Kaffeesatz', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
}
